*{
    padding:0;
    margin: 0;
}

.container{
    /* background-color: red; */
    padding: 50px;

}

.container input{
     width: 30%;    
     padding:10px;
     border-radius: 15px;
     border: none;
     border: 2px solid black;

}

.container button{
    padding:10px;
   border-radius: 10px;
   border: none;
   border: 2px solid black;
   cursor: pointer;
}

.wrong{
    border: 2px solid red;
}